
<ion-content padding>
  <div class="background">
  <div class="principal">
    
    <h4>
      <b>What is the code for the event? </b>
</h4>
    <ion-list class="formulario">
      <div>
      <ion-item>
        
        <ion-input class="inputr" type="text" placeholder="e.g., AH46DN2S"></ion-input>
      </ion-item>
    </div>
      
      
      <button ion-button block>Join event</button>
      
        <p>The event code is shared by the event organizer (i.e., the person who created the event in Pixyo). </p>
    </ion-list>

    

  </div>
  
</div>
</ion-content>