# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
backend/.gitignore
backend/mvnw
backend/mvnw.cmd
backend/.metadata/.lock
backend/.metadata/version.ini
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-south-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/aws.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ca.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/cn.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-central-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-3.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/sa-east-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/us.png
backend/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
backend/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/index.db
backend/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
backend/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
backend/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
backend/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
backend/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
backend/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
backend/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
backend/.metadata/.plugins/org.eclipse.ui.intro/introstate
backend/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
backend/.mvn/wrapper/maven-wrapper.jar
backend/.mvn/wrapper/maven-wrapper.properties
backend/.mvn/wrapper/MavenWrapperDownloader.java
backend/src/main/resources/facesdk.dll
backend/.classpath
backend/.project
backend/.settings/org.eclipse.core.resources.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.m2e.core.prefs
backend_old/.gitignore
backend_old/mvnw
backend_old/mvnw.cmd
backend_old/pixyo.jks
backend_old/pixyo.p12
backend_old/pom.xml
backend_old/.metadata/.lock
backend_old/.metadata/version.ini
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-2.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-south-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-2.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/aws.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ca.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/cn.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-central-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-2.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-3.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/sa-east-1.png
backend_old/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/us.png
backend_old/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
backend_old/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
backend_old/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
backend_old/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
backend_old/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
backend_old/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
backend_old/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
backend_old/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
backend_old/.metadata/.plugins/org.eclipse.jdt.core/index.db
backend_old/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
backend_old/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
backend_old/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
backend_old/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
backend_old/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
backend_old/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
backend_old/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
backend_old/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
backend_old/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
backend_old/.metadata/.plugins/org.eclipse.ui.intro/introstate
backend_old/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
backend_old/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
backend_old/.mvn/wrapper/maven-wrapper.properties
backend_old/.mvn/wrapper/MavenWrapperDownloader.java
backend_old/src/main/java/com/app/pixett/PixettApplication.java
backend_old/src/main/java/com/app/pixett/controller/AuthController.java
backend_old/src/main/java/com/app/pixett/controller/EventController.java
backend_old/src/main/java/com/app/pixett/controller/PicController.java
backend_old/src/main/java/com/app/pixett/controller/UserController.java
backend_old/src/main/java/com/app/pixett/core/AuthEntryPointJwt.java
backend_old/src/main/java/com/app/pixett/core/AuthTokenFilter.java
backend_old/src/main/java/com/app/pixett/core/JwtResponse.java
backend_old/src/main/java/com/app/pixett/core/JwtUtils.java
backend_old/src/main/java/com/app/pixett/core/TokenProvider.java
backend_old/src/main/java/com/app/pixett/core/UserDetailsImpl.java
backend_old/src/main/java/com/app/pixett/core/WebConfig.java
backend_old/src/main/java/com/app/pixett/core/WebSecurityConfig.java
backend_old/src/main/java/com/app/pixett/Dto/EventDto.java
backend_old/src/main/java/com/app/pixett/Dto/UserDto.java
backend_old/src/main/java/com/app/pixett/entities/Event.java
backend_old/src/main/java/com/app/pixett/entities/User.java
backend_old/src/main/java/com/app/pixett/filter/EventFilter.java
backend_old/src/main/java/com/app/pixett/filter/UserFilter.java
backend_old/src/main/java/com/app/pixett/repository/EventRepository.java
backend_old/src/main/java/com/app/pixett/repository/PicRepository.java
backend_old/src/main/java/com/app/pixett/repository/UserRepository.java
backend_old/src/main/java/com/app/pixett/service/EventService.java
backend_old/src/main/java/com/app/pixett/service/PicService.java
backend_old/src/main/java/com/app/pixett/service/UserService.java
backend_old/src/main/java/com/app/pixett/service/impl/EventServiceImpl.java
backend_old/src/main/java/com/app/pixett/service/impl/PicServiceImpl.java
backend_old/src/main/java/com/app/pixett/service/impl/UserServiceImpl.java
backend_old/src/main/java/com/app/pixett/specification/EventSpecification.java
backend_old/src/main/java/com/app/pixett/specification/UserSpecification.java
backend_old/src/main/resources/application.yml
backend_old/src/main/resources/facesdk.dll
backend_old/src/main/resources/pixyo.p12
backend_old/src/main/resources/.aws/credentials
backend_old/src/test/java/com/app/pixett/PixettApplicationTests.java
backend_old/src/test/java/com/app/pixett/service/impl/UserServiceImplTest.java
