# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
backend/.gitignore
backend/mvnw
backend/mvnw.cmd
backend/.metadata/.lock
backend/.metadata/version.ini
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-south-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/aws.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ca.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/cn.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-central-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-2.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-3.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/sa-east-1.png
backend/.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/us.png
backend/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
backend/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
backend/.metadata/.plugins/org.eclipse.jdt.core/index.db
backend/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
backend/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
backend/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
backend/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.0.20180606-2036.xml
backend/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
backend/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
backend/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
backend/.metadata/.plugins/org.eclipse.ui.intro/introstate
backend/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
backend/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
backend/.mvn/wrapper/maven-wrapper.jar
backend/.mvn/wrapper/maven-wrapper.properties
backend/.mvn/wrapper/MavenWrapperDownloader.java
backend/src/main/resources/facesdk.dll
