
<ion-content padding>
  <div class="background">
  <div class="principal">
    
    <h4>
      <b>Cool! Tell us more about this event</b>
</h4>
    <ion-list class="formulario">
      <div>
      <ion-item>
        
        <ion-input class="inputr" type="text" placeholder="Name of event"></ion-input>
      </ion-item>
    </div>
      <ion-item>
        
        <ion-input  class="inputr" type="starts" placeholder="Date and time it starts"></ion-input>
      </ion-item>
      <ion-item>
        
        <ion-input class="inputr" type="ends" placeholder="Date and time it ends" ></ion-input>
        
      </ion-item>
      
      <button ion-button block>Create event</button>
      
    </ion-list>
  </div>
</div>
</ion-content>